@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}
.navbar {
    position:fixed;
    width: 100%;
    background: crimson;
    font-family: 'Poppins', sans-serif;
    padding: 15px 0;
}

.max-width {
    max-width: 1300;
    padding: 0 80px;
    margin: auto
}

.navbar .max-width {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.navbar .logo a {
    color:#fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li {
    list-style:none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.home {
    display: flex;
    /*background: url("");*/
    background: gray;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Poppins', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 50px;
}

.home .home-content .text-1 {
    font-size: 27px;
}
.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 700;
    margin-left: -3px;
}
.home .home-content .text-3 {
    font-size: 27px;
}